[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Name[ar]=مُتصفح الوِب فيَرفُكس
Name[bg]=Chromium уеб клиент
Name[ca]=Navegador web Chromium
Name[cs]=Webový prohlížeč Chromium
Name[cy]=Porwr Gwe Chromium
Name[da]=Chromium netlæser
Name[de]=Chromium Webbrowser
Name[el]=Chromium Περιηγητής Ιστοσελίδων
Name[es]=Navegador web Chromium
Name[et]=Chromium veebibrauser
Name[eu]=Chromium Web Arakatzailea
Name[fa]=مرورگر اینترنتی Chromium
Name[fi]=Chromium-selain
Name[fr]=Navigateur Web Chromium
Name[gl]=Navegador Web Chromium
Name[he]=דפדפן אינטרנט - פיירפוקס
Name[hu]=Chromium webböngésző
Name[is]=Chromium Vef-Vafri
Name[it]=Browser web Chromium
Name[ja]=Chromium ウェブブラウザ
Name[ko]=Chromium 웹 브라우저
Name[ky]=Chromium веб аралагычы
Name[nb]=Chromium nettleser
Name[nl]=Chromium webbrowser
Name[nn]=Chromium nettlesar
Name[pl]=Przeglądarka Chromium
Name[pt]=Navegador Web Chromium
Name[pt_BR]=Chromium
Name[ro]=Navigatorul Chromium
Name[ru]=Браузер Chromium
Name[sk]=Internetový prehliadač Chromium
Name[sl]=Spletni brskalnik Chromium
Name[sv]=Webbläsaren Chromium
Name[tr]=Chromium Ağ Tarayıcısı
Name[uk]=Навігатор тенет Chromium
Name[zh_CN]=Chromium Web 浏览器
Name[zh_TW]=Chromium 網頁瀏覽器
GenericName=Web Browser
GenericName[af]=Web Blaaier
GenericName[ar]=متصفّح وِب
GenericName[as]=ৱেব চৰক
GenericName[az]=Veb Səyyahı
GenericName[be]=Гартач сеціва
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[bs]=Web preglednik
GenericName[ca]=Navegador web
GenericName[cs]=Prohlížeč WWW
GenericName[cy]=Porwr Gwe
GenericName[da]=Internetbrowser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστοσελίδων
GenericName[eo]=TTT-legilo
GenericName[es]=Navegador web
GenericName[et]=Veebisirvija
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب
GenericName[fi]=WWW-selain
GenericName[fo]=Vevlesari
GenericName[fr]=Navigateur Web
GenericName[ga]=Brabhsálaí Lín
GenericName[gl]=Navegador web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web pretraživač
GenericName[hu]=Webböngésző
GenericName[id]=Browser Web
GenericName[is]=Vafri
GenericName[it]=Browser web
GenericName[ja]=GNOME ウェブ・ブラウザ
GenericName[ka]=ვებ ბრაუზერი
GenericName[kn]=ಜಾಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[ky]=Web Браузер
GenericName[li]=Wèb Browser
GenericName[lo]=ຮງກເບິ່ງຖານເບິ່ງຂໍ້ມູນ
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūkprogramma
GenericName[mk]=Веб прелистувач
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mn]=Вэб-Хөтөч
GenericName[mr]=वेब ब्राउझर
GenericName[ms]=Pelungsur Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navegaire web
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sq]=Shfletuesi Web
GenericName[sr]=Интернет прегледник
GenericName[sr@Latn]=Internet preglednik
GenericName[ss]=Ibrawuza ye-Web 
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[tg]=Тафсири веб
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tk]=Web Ahtarçysy
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач веб-сторінок
GenericName[ur]=ویب براؤزر
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Bộ duyệt Web
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[zh_CN]=Web 浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Browse the Web
Comment[af]=Blaai die Web
Comment[am]=ዌብን ይቃኙ
Comment[ar]=تصفّح الوِب
Comment[az]=Vebdə gəz
Comment[bg]=Сърфиране из интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[bs]=Pretražujte web
Comment[ca]=Navega pel web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[cy]=Pori'r We
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στο Διαδίκτυο
Comment[eo]=Foliumi la TTT-on
Comment[es]=Navegue por la web
Comment[et]=Veebi sirvimine
Comment[eu]=Web-a arakatu
Comment[fa]=مرور بر وب
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[fur]=Navighe tal Web
Comment[hi]=वेब पर ब्राउज करें
Comment[hr]=Pregledaj Web
Comment[hu]=A világháló böngészése
Comment[hy]=Զբոսնել Ցանցում
Comment[is]=Flakka á vefnum
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ka]=ინტერნეტში გასეირნება
Comment[ko]=웹을 돌아 다닙니다
Comment[ku]=Geryana Înternet
Comment[ky]=Вебди аралоо
Comment[lv]=Pārlūkojiet Web
Comment[mt]=Ibbrawżja l-web
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegar na Web
Comment[ro]=Navigați pe Web
Comment[ru]=Веб-навигация
Comment[sc]=Sfollya s'arretza
Comment[sk]=Prezerať Web
Comment[sl]=Brskanje po spletu
Comment[sq]=Shfletues Web
Comment[sr@Latn]=Pretražite Internet
Comment[sv]=Surfa på webben
Comment[ta]=வலையத்ைத மேலோட
Comment[tg]=Шабакаро баррасӣ кунед
Comment[th]=Browse the Web
Comment[tl]=I-browse ang Web
Comment[tr]=Web' de gezin
Comment[uk]=Переглядайте Тенета
Comment[vi]=Duyệt web
Comment[wa]=Naivyî so les pådjes waibe
Comment[zh_CN]=浏览 Web
Comment[zh_TW]=瀏覽網頁
Exec=chromium %u
Icon=chromium
Terminal=false
Type=Application
StartupWMClass=chromium-browser
MimeType=application/x-extension-htm;application/x-extension-html;application/x-extension-shtml;application/x-extension-xht;application/x-extension-xhtml;application/xhtml+xml;text/html;x-scheme-handler/chrome;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Categories=GTK;Network;WebBrowser;X-MandrivaLinux-Internet-WebBrowsers;X-MandrivaLinux-CrossDesktop;
